<!-- Modal -->
<div class="modal fade" id="saveToCsvModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save To Csv</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{ form_start(myForm) }}
      <div class="mb-3 row">
      {{ form_row(myForm.apiUrl,{attr:{class: "form-control"}}) }}
    </div>
    <div class="mb-3 row">
      {{ form_row(myForm.apiKey,{attr:{class: "form-control"}}) }}
    </div>
    <div class="mb-3 row">
      {{ form_row(myForm.submit,{attr:{class: "btn btn-success"}}) }}
    </div>
      {{ form_end(myForm) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>